<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-black text-white">
    <h1>File Deleted</h1>
    <a href="/" class="p-10 text-blue-400">Go Back</a>
</body>
</html>