<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body class="bg-black flex justify-center">
    <div class="tenor-gif-embed" data-postid="27377926" data-share-method="host" data-aspect-ratio="0.959375" data-width="40%"><a href="https://tenor.com/view/critical-error-error-gif-27377926">Critical Error Error GIF</a>from <a href="https://tenor.com/search/critical+error-gifs">Critical Error GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>