<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body class="bg-black text-white">
    <a href="/" class="p-10 text-blue-400">Go Back to home page</a>
    <h1 class="text-red-500 text-3xl my-20 mx-10">Name of the file is -- <%= name %></h1>  
    <p class="text-4xl my-20 mx-10">Data : <%= message %></p>
</body>
</html>